body {
  background-image: url(Files/tenor.gif);
  padding-bottom: 75px;
}
.page-title {
  font-size: 90px;
  margin: 0;
  font-family: Big Shoulders Stencil, arial;
  background-color: rgb(255, 255, 0);
  color: rgb(195, 6, 247);
  font-weight: 700;
}
.rules-div {
  border: none;
  width: 425px;
  height: 380px;
  margin-top: 20px;
  background-color: rgb(195, 6, 247);
  font-family: Pangolin, arial;
  color: rgb(255, 255, 0);
  font-weight: 700;
  border-radius: 20px;
}
.rules-title {
  font-size: 40px;
  padding-top: 15px;
}
.rules-sub-title {
  font-size: 25px;
  font-family: Pangolin, arial;
}
.buttons-select-div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}
.select-button {
  padding: 40px;
  font-size: 60px;
  font-family: Big Shoulders Stencil, arial;
  border-radius: 20px;
  font-weight: 800;
  border: none;
  background-color: rgb(255, 255, 0);
  color: rgb(195, 6, 247);
  transition: color, background-color 0.15s;
}
.select-button:hover {
  color: rgb(255, 255, 0);
  background-color: rgb(195, 6, 247);
}
.choice-p {
  font-size: 50px;
  background-color: #e8dede;
  margin: 0;
  font-family: Pangolin, arial;
  color: #2e4053;
  font-weight: 700;
  margin-top: 20px;
  width: 600px;
  border-radius: 20px;
  color: rgb(255, 255, 0);
  background-color: rgb(195, 6, 247);
}
.video1-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.video-edit {
  height: 400px;
  border: solid 3px rgb(195, 6, 247);
  border-radius: 20px;
}
.video2-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.js-score {
  font-size: 60px;
  font-family: Pangolin, arial;
  border-radius: 20px;
  font-weight: 800;
  border: none;
  background-color: rgb(255, 255, 0);
  color: rgb(195, 6, 247);
  width: 700px;
}
.js-result {
  font-size: 60px;
  font-family: Pangolin, arial;
  border-radius: 20px;
  font-weight: 800;
  border: none;
  background-color: rgb(255, 255, 0);
  color: rgb(195, 6, 247);
  width: 300px;
}
.js-choice {
  color: rgb(255, 255, 0);
  background-color: rgb(195, 6, 247);
  font-size: 60px;
  font-family: Pangolin, arial;
  border-radius: 20px;
  font-weight: 800;
  border: none;
  width: 1000px;
}
@media only screen and (min-width: 220px) and (max-width: 740px) and (orientation: portrait) {
  body {
    background-image: url(Files/tenor.gif);
    padding-bottom: 75px;
  }
  .page-title {
    font-size: 40px;
    margin: 0;
    font-family: Big Shoulders Stencil, arial;
    background-color: rgb(255, 255, 0);
    color: rgb(195, 6, 247);
    font-weight: 900;
  }
  .rules-div {
    border: none;
    width: 220px;
    height: 320px;
    margin-top: 20px;
    background-color: rgb(195, 6, 247);
    font-family: Pangolin, arial;
    color: rgb(255, 255, 0);
    font-weight: 700;
    border-radius: 20px;
  }
  .rules-title {
    font-size: 25px;
    padding-top: 15px;
  }
  .rules-sub-title {
    font-size: 20px;
    font-family: Pangolin, arial;
  }
  .buttons-select-div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .select-button {
    padding: 25px;
    font-size: 40px;
    font-family: Big Shoulders Stencil, arial;
    border-radius: 20px;
    font-weight: 800;
    border: none;
    background-color: rgb(255, 255, 0);
    color: rgb(195, 6, 247);
    transition: color, background-color 0.15s;
  }
  .select-button:hover {
    color: rgb(255, 255, 0);
    background-color: rgb(195, 6, 247);
  }
  .choice-p {
    font-size: 30px;
    background-color: #e8dede;
    margin: 0;
    font-family: Pangolin, arial;
    color: #2e4053;
    font-weight: 700;
    margin-top: 20px;
    width: 350px;
    border-radius: 20px;
    color: rgb(255, 255, 0);
    background-color: rgb(195, 6, 247);
  }
  .video1-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .video-edit {
    height: 230px;
    width:300px;
    border: solid 3px rgb(195, 6, 247);
    border-radius: 20px;
  }
  .video2-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .js-score {
    font-size: 30px;
    font-family: Pangolin, arial;
    border-radius: 20px;
    font-weight: 800;
    border: none;
    background-color: rgb(255, 255, 0);
    color: rgb(195, 6, 247);
    width: 700px;
    width: 350px;
  }
  .js-result {
    font-size: 40px;
    font-family: Pangolin, arial;
    border-radius: 20px;
    font-weight: 800;
    border: none;
    background-color: rgb(255, 255, 0);
    color: rgb(195, 6, 247);
    width: 300px;
  }
  .js-choice {
    color: rgb(255, 255, 0);
    background-color: rgb(195, 6, 247);
    font-size: 30px;
    font-family: Pangolin, arial;
    border-radius: 20px;
    font-weight: 800;
    border: none;
    width: 270px;
  }
}
